---
layout: default
sections:
    - Welcome: "#welcome"
    - Material: "#material"
    - Wiki: "#wiki"
---

    <section id="welcome">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="section-heading">Welcome!</h1>
                    <p class="lead section-lead">So you've decided to learn Python?</p>
                    <p class="section-paragraph">
                        Python is a general-purpose, high-level programming language. It has a design philosophy that emphasizes code readability, which is important because you’ll spend a lot more time reading code than writing it! Python boasts features that make it easy to learn and fast to develop in: elegant syntax, a dynamic typing system, automatic memory management, and support for mutiple programming paradigms. Not sure what all of that means? Well, hopefully you will at the end of our course.</p>
                    <figure>
                        <img class="img-responsive" src="{{ "/assets/img/python-xkcd.png" | prepend: site.baseurl }}">
                        <figcaption><a class="img-caption" href="https://xkcd.com/353/">https://xkcd.com/353/</a></figcaption>
                    </figure>

                    <p class="section-paragraph">
                        Python has also become increasingly popular in scientific computing and data analysis. There is a flourishing and open-source <a href="https://scipy-lectures.github.io/">ecosystem</a> of scientific packages for number crunching, statistical analysis, data visualization, machine learning, image analysis, and more! This is largely thanks to the ease of integrating Python with fast code written in languages closer to the metal like C and C++.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Fixed Height Image Aside -->
    <!-- <aside class="image-bg-fixed-height"></aside> -->

    <section id="material">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="section-heading">Material</h1>
                </div>
            </div>
            <div class="row">
                <ul class="list-group">  
                    {% for post in site.posts reversed limit:20 %}  
                       {% if post.category == 'lecture' %}
                        <li class="list-group-item">
                            <div>
                            <h2>
                                <a href="{{ post.url | prepend: site.baseurl }}"><span class="glyphicon glyphicon-calendar"></span></a>  {{ post.title }}
                            </h2>
                            </div>
                            
                            <div class="container">
                            {{ post.content }}
                            </div>
                        </li>  
                        {% endif %}
                    {% endfor %}  
                </ul>
            </div>
        </div>
    </section>

    <section id="wiki">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="section-heading">Course Wiki</h1>
                    <p class="lead secton-lead">More material and resources will be available on our Github wiki.</p>
<!--                     <p class="section-paragraph"></p> -->
                    <div style="text-align: center;">
                    <a class="btn btn-default btn-primary btn-lg" href="http://github.com/nvictus/python101/wiki">Go to wiki</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
