    <!-- Full Width Image Header with Logo (fluid height) -->
    <!-- "http://placehold.it/200x200&text=Logo" -->
    <!-- http://lorempixel.com/g/1920/500/ -->
    <header >
        <div class="image-bg-fluid-height">
            <div class="container">
                <div class="row"> 
                    <div class="col-sm-6">
                        <a class="img-logo" href="http://www.clubesdeciencia.mx/">
                        <img class="img-responsive" src="{{ "/assets/img/logo-cdec.png" | prepend: site.baseurl }}"/>
                        </a>
                    </div>                  
                    <div class="col-sm-6">
                        <a class="img-logo" href="https://www.python.org/">
                        <img class="img-responsive" src="{{ "/assets/img/python-logo.png" | prepend: site.baseurl }}" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="jumbotron">
            <div class="container">
            <p>Clubes de Ciencia &middot; Summer 2015 &middot; <em>Xalapa, VZ, Mexico</em></p>
            <h1>Python 101</h1>
            <h2>Unleash your inner programmer!</h2>
            <p><em>Instructors:</em> Nezar Abdennur, Vicente Arbesu</p>
            </div>
        </div>
    </header>
